<div class="container">
  <div class="row">
    <div class = "col-lg-6 col-md-6 col-sm-12">
      <h2>About</h2>
        <p>
          GoodShill_BadShill keeps track of the public's opinion on shills. Each user may vote one time per shill by 
          replying to the shill with "good shill" or "bad shill". The goal is to find out which shills are the most 
          popular and least popular. 
        </p>
        <p> 
          Please message <a href="https://www.reddit.com/u/goodshill_badshill">GoodShill_BadShill</a> if a shill is not getting through the filtering.
        </p>
    </div>
    <div class= "col-lg-6 col-md-6 col-sm-12">
      <h2>Navigation</h2>
        <p>
          Use the filter option on the right side of the navigation bar at the top of the page to view the data. 
          You can also use the search form to check which shills a user has voted on. Click the bars on the graph 
          to go to each shill's profile.
        </p>
    </div>
  </div>
</div>

<br>
<br>